{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="h1_head">{{ user.email }}'s Blogs</h1>
    <hr>
    <a class="btn btn-primary" href="/blogs/new_blog" >Create New Blogs</a>
    <hr>
    {% for blog in blogs %}
        <h3><a href="/blogs/{{ blog._id }}/posts" >{{ blog.title }}</a></h3>
        <p>{{ blog.description }}</p>
        <p>{{ blog.author }}</p>
        <p>
            <a class="btn btn-secondary" href="{{ url_for('blogs.edit_blog', blog_id=blog._id) }}">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('blogs.remove_blog', blog_id=blog._id) }}">Remove</a>
        </p>
        <hr>
    {% endfor %}
</div>
{% endblock %}