{% extends "base.html" %}
{% block content %}
    <header><h1>Update Alert</h1></header>
    <section class="create-alert-form">
        <form method="POST">
            <div class="form-group">
                <label for="name">Alert Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{alert.name}}" disabled>
            </div>
            <!-- <div class="form-group">
                <label for="item_url">Item URL</label>
                <input type="text" class="form-control" id="item_url" name="item_url" value="{{alert.item.url}}" disabled>
            </div> -->
            <div class="form-group">
                <label for="item_url">Current Price</label>
                <input type="text" class="form-control" id="item_url" name="item_url" value="{{alert.item.price}}" disabled>
            </div>
            <div class="form-group">
                <label for="img">Item Image URL</label>
                <input type="text" class="form-control" id="img" name="img" value="{{ alert.img }}" required>
            </div>
            <div class="form-group">
                <label for="price_limit">Price Limit</label>
                <input type="text" class="form-control" id="price_limit" name="price_limit" value="{{alert.price_limit}}" aria-describedby="priceHelp" required>
                <small id="priceHelp" class="form-text form-muted">
                    What price would get notified?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
{% endblock %}