{% extends "base.html" %}
{% block content %}
<header><h1 class="mt-5">Alerts</h1></header>
<hr>
<a href="{{ url_for('alerts.new_alert') }}" class="btn btn-primary">Create New Alert</a>
<hr>
<section>


<div class="row mb-3 d-flex align-items-stretch" style="display:flex; flex-wrap:wrap;">
    {% for alert in alerts %}
    <div class="col col-lg-3 col-md-6 col-12 d-flex align-items-stretch">
        <div class="card" >
            <img class="card-img-top" src="{{ alert.img }}">
            <div class="card-body">
            <a href="{{ alert.item.url }}">    
                <h5 class="card-title">{{ alert.name }}</h5>
            </a>
            <p class="card-text">Latest Price: {{alert.item.price}}</p>
            <p class="card-text">Price Limit: {{alert.price_limit}}</p>
            <p>
                <a class="btn btn-secondary" href="{{ url_for('alerts.edit_alert', alert_id=alert._id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('alerts.remove_alert', alert_id=alert._id) }}">Remove</a>
            </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!-- <div class="list-group mb-3"> 
        {% for alert in alerts %}
            <div class="list-group-alert">
                <h4>Alert: {{ alert.name }}</h4>
                <p><a href="{{ alert.item.url }}">{{ alert.item.url }}</a></p>
                <p> Latest Price: {{alert.item.price}}</p>
                <p> Price Limit: {{alert.price_limit}}</p>
                <p><img class="form-control" id="img" name="img" src="{{ alert.img }}"></p>
                <p>
                    <a class="btn btn-secondary" href="{{ url_for('alerts.edit_alert', alert_id=alert._id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('alerts.remove_alert', alert_id=alert._id) }}">Remove</a>
                </p>
                <hr>
            </div>
        {% endfor %}
    </div> -->
    
</section>
{% endblock %}