{% extends "base.html" %}
{% block content %}
<header><h1 class="mt-5">Alerts</h1></header>
<hr>
<section>
    <div class="list-group mb-3"> 
        {% for alert in alerts %}
            <div class="list-group-alert">
                <h4>Alert: {{ alert.name }}</h4>
                <p>
                    <a href="{{ alert.item.url }}">{{ alert.item.url }}</a>
                </p>
                <p> Latest Price: {{alert.item.price}}</p>
                <p> Price Limit: {{alert.price_limit}}</p>
                <p>
                    <a class="btn btn-secondary" href="{{ url_for('alerts.edit_alert', alert_id=alert._id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('alerts.remove_alert', alert_id=alert._id) }}">Remove</a>
                </p>
                <hr>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('alerts.new_alert') }}" class="btn btn-primary">Create New</a>
</section>
{% endblock %}