{% extends "base.html" %}
{% block content %}
<header><h1 class="mt-5">Stores List
{% if session['email'] == config.ADMIN %} 
    <a href="{{ url_for('stores.new_store') }}" class="float-right btn btn-primary">Create New Store</a>
{% endif %}
</h1></header>
<hr style="height:5px;border:none;color:#333;background-color:#333;">
<section>
    <div> 
        {% for store in stores %}
        <div class="row">
            <div class="col-md-6">
                <h4>Store Name: </a></h4>
                <h6>{{store.name}}</h6>
                <p>
                    <h4>Website: </h4>
                    <h6><a href="{{ store.url_prefix }}">{{ store.url_prefix }}</a></h6>
                </p>
                <a class="btn btn-sm btn-success" href="{{ url_for('stores.show', store_id=store._id) }}">More infomration ... </a>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('stores.show', store_id=store._id) }}">
                    <img style="height: 180px; width: 420px" src="{{ store.img }}" >
                </a>
            </div>
        </div>
        <hr style="height:5px;border:none;color:#333;background-color:#333;">
        {% endfor %}
    </div>
</section>
{% endblock %}