{% extends "base.html" %}
{% block content %}
    <header><h1>Create Store</h1></header>
    <section class="create-store-form">
        <form method="POST">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="John Lewis" required>
            </div>
            <div class="form-group">
                <label for="url_pre">Website</label>
                <input type="text" class="form-control" id="url_prefix" name="url_pre" placeholder="http://..." required>
            </div>
            <div class="form-group">
                <label for="name">Image URL</label>
                <input class="form-control" type="text" name="img" placeholder="image url" required>
            </div>
            <div class="form-group">
                <label for="description">Company Description</label>
                <textarea id="description" name="description" class="form-control" rows="6" required></textarea>
            </div>
            <div class="form-group">
                <label for="tag">Tag</label>
                <input type="text" class="form-control" id="tag" name="tag" placeholder="span" aria-describedby="tagHelp">
                <small id="tagHelp" class="form-text form-muted">
                    What is the HTML tag that contains the price?
                </small>
            </div>
            <div class="form-group">
                <label for="query">Query</label>
                <input type="text" class="form-control" id="query" name="query" placeholder='{"id":"id"}' aria-describedby="queryHelp">
                <small id="queryHelp" class="form-text form-muted">
                    What JSON query to find the price?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </section>
{% endblock %}