{% extends "base.html" %}
{% block content %}
<div class="content container mt-2">
    <header><h1>Login Here</h1></header>
    <section class="login-form">
        <form method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </section>
</div>
{% endblock %}